.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin-left: 8px;
    cursor: pointer;
  }
  #tabla-transactions {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  #tabla-transactions th, 
  #tabla-transactions td {
    text-align: left;
    margin-left:200;
    padding: 8px;
  }
  
  #tabla-transactions th {
    background-color: #3498db;
    color: white;
  }
  
  #tabla-transactions tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #tabla-transactions tr:hover {
    background-color: #ddd;
  }
  .points {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .indicador-puntos1 {
    background-color: #23bb5bb2;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    display: inline-block;
    margin-right: 10px
}
.indicador-puntos2 {
    background-color: #d14e1ab0;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    display: inline-block;
    margin-left: 10px
}
h2 {
    text-align: center;
}
